
body {
    background-color: #f0f2f5;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#left-side {
    margin: auto 0;
}
img {
    width: 230px;
}
#description {
    color: black;
    font-size: 24px;
    font-weight: 500;
    display: block;
}
#form {
    width: 395px;
    margin: 100px 50px 30px 50px;
    background-color: white;
    padding: 5px 0 5px 0; 
    border-radius: 10px;
    box-shadow: 1px 1px 10px 3px lightgray;
}
.input {
    margin: 13px auto 10px auto;
    width: 330px;
    display: block;
    height: 48px;
    border-radius: 7px;
    border: solid lightgrey 1px;
    padding: 0 12px;
    font-size: 16px;
}
#submit-login {
    margin: 13px auto;
    width: 355px;
    height: 48px;
    display: block;
    border: none;
    background-color: #227bef;
    color: white;
    font-size: 18px;
    font-weight: 700;
    border-radius: 7px;
}
#submit-create {
    margin: 0 auto 10px auto;
    display: block;
    width: 220px;
    height: 51px;
    background-color: #48b636;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-weight: 700;
}
#reset {
    margin: 20px auto;
    text-align: center;
    text-decoration: none;
    display: block;
    font-family: sans-serif;
    color: #227bef;;
    font-size: 14px;
}
#divider {
    background-color: lightgray;
    width: 358px;
    height: 1px;
    margin: 20px auto;
}
.content {
margin: 0 40px;
display: flex;
justify-content: center;
align-items: center;
gap: 100px;
flex-wrap: nowrap;
}
.right-side {
    display: flex;
    flex-direction: column;
}
.tagline {
    color: black;
    font-size: 14px;
    text-align: center;
}
#link {
    text-decoration: none;
    color: black;
    font-weight: 700;
}
footer {
    background-color: white;
    width: 100%;
    height: auto;
    padding: 5px 0 10px 0;
    margin: 100px 0 0 0;
}
a {
    text-decoration: none;
}
#divider-2 {
    background-color: lightgray;
    width: 100%;
    height: 1px;
    margin: 10px auto;
}
#languages {
    display: flex;
    justify-content: left;
    gap: 10px;
    font-size: 12px;
    flex-wrap: wrap;
    margin-bottom: 0;
    letter-spacing: -0.2px;
}
.footer-anchors {
    color: gray;
}
#links {
    display: flex;
    justify-content: justify;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 12px;
    margin-top: 0;
    letter-spacing: -0.2px;
}
input:focus {
    outline: solid #227bef 1px;
}
.footer-content {
    margin: 25px 100px 0 100px;
    line-height: 7px;
    padding: 0 75px;
}
#copyright {
    font-size: 11px;
    margin-top: 20px;
    color: gray;
}
#button {
    width: 30px;
    border: solid lightgray 1px;
    border-radius: 1px;
}

@media (max-width: 1060px) {
    body {
        margin: 0;
    }
    #form {
        
        margin: auto;
    }
    .content {
        display: block;
        gap: 0;
        margin: 35px auto;
        align-items: center;
    }
    #description {
        margin: 0 auto 40px auto;
        text-align: center;
        font-weight: 400;
    }
    #img {
        margin: 100px auto 30px auto;
        display: block;
    }
    #left-side {
        margin: 5px;
    }
    .tagline {
        text-align: center;
        margin: 60px auto 35px auto;
    }
    .footer-content {
        margin: 25px 0 0 0;
        padding: 0 75px;
    }
}