body {
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
}
html {
    font-family: sans-serif;
}
#left-side {
    margin-top: 75px;
}
img {
    width: 250px;
}
#description {
    color: black;
    font-size: 28px;
    font-weight: 500;
}
#form {
    width: 400px;
    margin: 100px 50px 30px 0;
    background-color: white;
    padding: 10px 0 10px 0; 
    border-radius: 10px;
    box-shadow: 1px 1px 10px 3px lightgray;
}
.input {
    margin: 10px auto 20px auto;
    width: 340px;
    display: block;
    height: 55px;
    border-radius: 10px;
    border: solid lightgrey 1px;
    padding: 0 12px;
    font-size: 17px;
}
#submit-login {
    margin: 20px auto;
    width: 367px;
    height: 55px;
    display: block;
    border: none;
    background-color: #227bef;
    color: white;
    font-size: 18px;
    font-weight: 700;
    border-radius: 10px;
}
#submit-create {
    margin: 0 auto 10px auto;
    display: block;
    width: 220px;
    height: 55px;
    background-color: #48b636;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 17px;
    font-weight: 700;
}
#reset {
    margin: 20px auto;
    text-align: center;
    text-decoration: none;
    display: block;
    font-family: sans-serif;
    color: #227bef;;
}
#divider {
    background-color: lightgray;
    width: 358px;
    height: 1px;
    margin: 20px auto;
}
.content {
display: flex;
justify-content: center;
align-items: center;
gap: 100px;
}
.right-side {
    display: flex;
    flex-direction: column;
}
.tagline {
    margin: 0 80px 0 auto;
    color: black;
}
#link {
    text-decoration: none;
    color: black;
    font-weight: 700;
}